- var title = "Wendigo Tattoo | Make your dreams become ink"
- var description = "Beautiful tatoos and handcrafted designs. Make your dreams become ink."
- var author = "Kuroi Kyu"
- var image = "http://kuroikyu.com/wendigotattoo/assets/img/landing.png"
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#011627")
    meta(name="description" content=description)
    meta(name="author" content=author)
    meta(name="keywords" content="Wendigo Tattoo, Wendigo, Tattoo, Ink, Portfolio, Custom")
    title=title

    // Facebook's share tags
    //- meta(property="fb:app_id" content="")
    meta(property="og:url" content="http://kuroikyu.com/wendigotattoo")
    meta(property="og:title" content=title)
    meta(property="og:type" content="website")
    meta(property="og:description" content=description)
    meta(property="og:image" content=image)
    meta(property="og:site_name" content="Wendigo Tattoo")

    // Twitter share tags
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:content" content="@wendigotattoo")
    meta(name="twitter:creator" content="@kuroikyu")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content=image)

    // CSS
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto|Fredericka+the+Great|Open+Sans+Condensed:300,700|Amatic+SC" rel='stylesheet' type='text/css')
    link(rel="stylesheet" type="text/css" href="assets/css/styles.css")

  body
    .dimmer
    //- HEADER
    header
      .wrapper
        include assets/logo.svg
        //- img(src="assets/logo.svg", alt="")
        h1.no-margin-padding Wendigo#[span Tattoo]
        h4.no-margin-padding Make your dreams become ink
        //- a(href="#") Contact
        a(href="https://www.facebook.com/WendigoTattoo/" target="_blank"): i.fa.fa-facebook-official
        a(href="https://www.instagram.com/wendigotattoo/" target="_blank"): i.fa.fa-instagram

    //- MAIN
    main.wrapper
      //- ORIGINAL
      section#original
        h2 Original designs
        .img-container
          .highlight
            img(src="assets/img/original/pirate-skull.jpg", alt="satyr")
          .divided
            img(src="assets/img/original/icecream-skulls.jpg", alt="icecream skulls")
            img(src="assets/img/original/natives.jpg", alt="natives")
            img(src="assets/img/original/joker.jpg", alt="joker")
            img(src="assets/img/original/deer-demon.jpg", alt="deer demon")

      //- ABOUT ME
      section#about-me
        h2 About me
        .wrapper
          .media-object
            .media
              img.avatar(src="assets/img/roc.jpg")
            .content
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

      hr

      //- WORK
      section#work
        h2 Inked designs
        .img-container
          .divided
            img(src="assets/img/work/mirror.jpg", alt="mirror")
            img(src="assets/img/work/clock-eye.jpg", alt="clock eye")
            img(src="assets/img/work/dream-catcher.jpg", alt="dream catcher")
            img(src="assets/img/work/skull-demon.jpg", alt="skull demon")

          .highlight
            img(src="assets/img/work/flower.jpg", alt="flower")


      //- OPINIONS test
      section#opinions
        h2 Opinions
        .wrapper
          .carousel-nav
            svg(xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#011627")
              path(d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z")
              path(d="M0-.5h24v24H0z" fill="none")
            svg(xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="#011627")
              path(d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z")
              path(d="M0-.25h24v24H0z" fill="none")

          .carousel-wrap
            .media-object.carousel-unit
              .media
                img.avatar(src="assets/img/maria.jpg")
              .content
                p Ma gustao musho. Roc e mu buen xico, me trato mu bieng i lo volveria a aser. Les dejo mis dies. Un abraso.
                p.muted — Maria

            .media-object.carousel-unit
              .media
                img.avatar(src="assets/img/roc.jpg")
              .content
                p Ma gustao musho. Roc e mu buen xico, me trato mu bieng i lo volveria a aser. Les dejo mis dies. Un abraso.
                p.muted — Maria

            .media-object.carousel-unit
              .media
                img.avatar(src="assets/img/profile.jpg")
              .content
                p Ma gustao musho. Roc e mu buen xico, me trato mu bieng i lo volveria a aser. Les dejo mis dies. Un abraso.
                p.muted — Maria

      //- CONTACT
    section#contact
      .wrapper
        h2 Contact me
        a#contact-me(href="http://m.me/WendigoTattoo", target="_blank")
          span facebook messenger
            include assets/img/facebook-messenger.svg


    footer
      p Kuroi Kyu &copy; 2016

    script(type="application/javascript", src="assets/js/jquery-3.0.0.min.js")
    script(type="application/javascript", src="assets/js/functions.js")
